<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book edition -->
<form id="edit-form" th:action="@{/book/edit(id=${book.id})}" th:method="post" action="edit.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" th:value="${book.name}" value="Test Book"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <select id="author-input" name="author" th:field="${book.author}" value="Test Author">
            <option th:each="author : ${authorDao.findAll()}"
                    th:value="${author.name}"
                    th:text="${author.name}">Author Select</option>
        </select>
    </div>

    <div class="row">
        <label for="genres-input">Genres:</label>
        <ul id="genres-input" name="genres" th:value="${book.genresList}" value="Test Genres">
            <li th:each="genre : ${genreDao.findAll()}">
                <input type="checkbox" th:field="${book.genresList}" th:value="${genre.name}" />
                <label th:text="${genre.name}">Test Genre</label>
            </li>
        </ul>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
