<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book comment</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<!-- Book Comment form -->
<form id="comment-form">
    <h1>Book Comment:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly"/>
    </div>

    <div class="row" style="display: none;">
        <label for="bookId-input">Book ID:</label>
        <input id="bookId-input" name="bookId" type="text" readonly="readonly"/>
    </div>

    <div class="row">
        <label for="book-input">Book:</label>
        <input id="book-input" name="book" type="text" readonly="readonly"/>
    </div>

    <div class="row">
        <label for="comment-input">Comment:</label>
        <input id="comment-input" name="comment" type="text"/>
    </div>

    <div class="row">
        <button id="submit-button" type="submit">Button</button>
    </div>
</form>

<script type="text/javascript" src="/js/comment-form.js"></script>
<script>
    $("#comment-form").ready(function() {
        fillForm([[${bookCommentId}]], [[${bookId}]], [[${action}]]);
    });

    $("#comment-form").submit(function(event) {
        event.preventDefault();
        doAction([[${action}]]);
    });
</script>

</body>
</html>
