<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="QADao" class="ru.otus.spring.kermilov.dao.CSVQuestionDAOImpl">
    </bean>
    <bean id="QAService" class="ru.otus.spring.kermilov.service.QAServiceImpl">
        <constructor-arg name="dao" ref="QADao"/>
        <constructor-arg name="csvPath" value="questions.csv"/>
    </bean>

</beans>
